

<mat-stepper class="form" linear #stepper>
  <form [formGroup]="firstFormGroup">
  <mat-step class="form"  >
      <ng-template matStepLabel>campaign  Name</ng-template>
      <mat-form-field class="inputs" appearance="fill">
        <mat-label>campaign  Name</mat-label>
        <input formControlName="campaignName"   matInput  placeholder="..." required>
      </mat-form-field>
      <div >
        <button  type="button" mat-raised-button color="primary" matStepperNext>Next</button>
      </div>

  </mat-step>
  <mat-step  class="form">

      <ng-template matStepLabel>Message</ng-template>
      <mat-form-field appearance="fill" class="inputs">
        <mat-label>start typing Message...</mat-label>
        <input formControlName="message" matInput  placeholder="start typing Message..."
               required>
      </mat-form-field>
      <div>
        <button type="button" mat-button matStepperPrevious>Back</button>
        <button type="button" mat-button matStepperNext>Next</button>
      </div>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button type="button" mat-button matStepperPrevious>Back</button>
      <!-- <button mat-button (click)="stepper.reset()">Complete</button> -->
      <button mat-button (click)="openDialog()">Done</button>
    </div>
  </mat-step>
</form>
</mat-stepper>
