.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }


  img{
    width: 100%;
    max-width: 2em;
  }



  .mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 1.5em 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}